# Указание на папку node_modules (зависимости)
node_modules/

# Локальные папки и файлы, специфичные для среды разработки
dist/           # Скомпилированные файлы для продакшена
*.local         # Локальные конфигурации
*.log           # Логи (например, npm-debug.log, yarn-error.log)
.env            # Переменные окружения
.env.local
.env.*.local

# Конфигурационные файлы редакторов
.idea/          # WebStorm/PhpStorm IDE
.vscode/        # Visual Studio Code
*.sublime-project
*.sublime-workspace

# Кэш файлов, временные файлы и зависимости
.DS_Store       # macOS
Thumbs.db       # Windows
*.swp           # Vim
*.lock          # Блокировки (yarn.lock или package-lock.json)

# Git временные файлы
.git/

# Исключения для публикации на GitHub Pages
# Если вы используете gh-pages, не исключайте dist/
!.gitkeep
