@import url(./general.scss);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --white: #fff;
    --red: #FF0000;
    --black: #0F0F0F;
    --grey: #2D2D2D;
    --lightgrey: #CFCFCF; 
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", serif;
}

body {
    height: 100vh;
}

#app, .app, .wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;   
}
main {
    flex: 1 0 auto;
  }
footer {
    flex: 0 0 auto;
  }

.v-user-header {
    display: flex;
    justify-content: center;


    padding: 81px 0 10px;
    
    border-bottom: 1px solid #A2A2A2;
    width: 100%;

    &__title {
        font-size: 12px;
        font-weight: 600;

        text-align: center;

        position: relative;

        width: 50%;
    }
    &__title.active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--white);
        bottom: -10px;
        left: 0;
    }
}

.v-rate {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

}

.rate {
    backdrop-filter: blur(4px);
    background-color: rgba($color: #474747BF, $alpha: .75);
    
    padding: 18px 10px;

    border-radius: 12px;


    &__subtitle {
        font-size: 14px;
    }
    &__subtitle + &__subtitle {
        margin-top: 5px;
    }
    
    &__price {
        color: var(--red);
        font-size: 30px;
        font-weight: 700;

        margin-bottom: 8px;
    }
}

.v-footer {
    background-color: var(--black);
    &__container {
        padding: 5px 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        display: flex;
        gap: 33px;
    }
}

.footer {
    
    &-link__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-link {

    }
    &-link__title {
        font-size: 12px;

    }
}

.v-user {
    &__content {
        padding-left: 10px;
    }
    &__form {
        margin-bottom: 18px;
    }

    &__link {
        display: block;

        text-align: center;
        text-decoration: underline;

        margin-top: 15px;
    }

    &__form-block {
        display: flex;
        flex-direction: column;

        gap: 10px;
    }
    &__form-block + &__form-block {
        margin-top: 30px;
    }
    &__form-input {
        max-width: 100%;
        height: 52px;
        border-radius: 20px;
        padding: 18px;
        color: var(--black);

        border: 1px solid var(--black);
    }

    &__form-input::placeholder {
        color: rgba($color: #000000, $alpha: .8);
    }

    &__steps {
        margin-top: 27px;

        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__step {
        width: 17px;
        height: 17px;

        background-color: #E3E3E3;

        border-radius: 50%;
    }

    &__step.active {
        background-color: var(--red);
    }

    &__button {
        display: block;
        width: 100%;
        
        background-color: var(--red);
        color: var(--white);
        text-align: center;
        
        border-radius: 20px;
        padding: 19px 0;
        margin: 20px auto 0;
    }

}

.v-right-admin {
    background-color: #0F0F0F;
    padding: 40px 10px;
    height: 100vh;
    width: 255px;
    flex-shrink: 0;
    &__user {
        display: flex;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .25);
        padding-bottom: 18px;
        margin-bottom: 10px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 25px;
    }
   
}
.model {
    &__title {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        color: #EBEBEB;
        margin-bottom: 10px;
    }
    &__categories {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__categories-item a{
        color: #D9D9D9;
    }
}

.v-admin {
  
    &__panel-title {

        margin-bottom: 48px;
   }
    &__panel-list {
        display: grid;
        gap: 33px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.admin-app {
    background-color: #434343BF;
    padding: 18px 10px;

    border-radius: 12px;
    &__title {
        padding-bottom: 6px;
        margin-bottom: 16px;

        border-bottom: 1px solid #fff;
    }
    &__models {
        display: flex;
        flex-direction: column;
        gap: 5px;

        padding-left: 17px  ;
    }
    &__model {
      border-bottom: 1px solid #494949;
    }
}
.v-admin-category {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        width: 160px;
        padding: 8px 0;
        
        font-size: 12px;
        border-radius: 20px;
        background-color: var(--red);
    }
    
    &__row a{
        color: rgb(255, 140, 140);
    }
}
.v-admin-category__fields {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #434343BF;
    font-size: 14px;

    th,
    td {
        padding: 8px 12px;
        text-align: left;
        border: 1px solid #FFFFFF40;
    }

    th {
        font-weight: 700;
        color: #FFFFFFCC;
        background-color: #333333;
    }

    tbody {
        tr {
            &:hover {
                background-color: #313030;
            }
        }
    }


    .id-cell {
        display: flex;
        align-items: center;
        gap: 8px; // Расстояние между чекбоксом и числом

        input[type="checkbox"] {
            margin: 0; // Убираем лишние отступы
        }

        span {
            font-size: 14px;
            color: #FFFFFF;
        }
    }
}


.v-admin-field {
    &__container {
        gap: 20px;
    }
    &__content {
        padding-right: 20px;
    }
    &__title {
        margin-bottom: 45px;
    }
    &__block {
        background-color: #434343BF;
        padding: 25px;
        width: 70%;
        border-radius: 12px;
        @media(max-width:1024px) {
            width: 100%;
        }
    }
    &__buttons {
        width: 30%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        @media(max-width:1024px) {
            width: 100%;
        }
    }
    &__button {
        width: 100%;
        padding: 15px 5px;
        
        border-radius: 20px;
        background-color: var(--red);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button.save {
        background-color: #5FC500;
    }

    &__handler {
        @media(max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.admin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &__title {
        white-space: nowrap;
    }
    &__input {
        max-width: 275px;
        padding: 5px 20px;
        
        border: 1px solid #fff;
        border-radius: 20px;

        background-color: transparent;
    }
}